<article class="listing">

  <div class="detail type">
    {{#link-to 'posts.show' post}}
    	<span>Title of post:</span> {{post.title}}
    {{/link-to}}
  </div>
  <div class="detail userId.name">
    {{#link-to 'posts.user' post}}
    	<span>Written By: {{post.userId.name}}</span>
  	{{/link-to}}
  </div>
  <div class="detail type">
    <span>Post description:</span> {{post.body}}
  </div>
</article>
{{yield}}
