<article class="listing">

  <div class="detail type">
    <span>Title:</span> {{post.title}}
  </div>
  <div class="detail type">
    <span>Post:</span> {{post.body}}
  </div>
  <div class="detail userId.name">
    <span>By: {{post.userId.name}}</span>
  </div>

</article>
{{yield}}
