<article class="listing">

	<div class="detail body">
    	<span>Title of post:</span> {{post.title}}
  	</div>
  	<div class="detail body">
    	 <span>Written By: {{post.userId.name}}</span>
  	</div>
  	<div class="detail title">
        <span>Post description:</span> {{post.body}}
  	</div>
  	
</article>

